<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>6df01e61332aced9ac1cb6ff8fba713e</string>
	<key>privateKey</key>
	<string>2e8b0747968ca3fb4c2fd43c072de5606bc77f5c</string>
</dict>
</plist>
